extends layout

block content
    .container.pt-3
        h1= title

        form(action="" method="POST")
            .form-group.pt-2
                label(for='name') Your name
                input#name.form-control(type='text' placeholder='Name' name="name")
            .form-group.pt-2
                label(for='email') Email
                input#email.form-control(type='email' placeholder='Email' name="email")
            .form-group.pt-2
                label(for='username') Username
                input#username.form-control(type='number' placeholder='Username' name="username")
            .form-group.pt-2
                label(for='password') Password
                input#password.form-control(type='password' placeholder='Password' name="password")
            button.btn.btn-primary.mt-4.mb-5(type='submit') Ro'yxatdan o'tish